html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit; 
}
a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #020505;
}
.container {
    max-width: 1470px; 
    padding: 0 15px;
    margin: 0 auto;
}


@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('ProximaNova-Bold.eot');
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-Bold.eot');
	src: local('Myriad Pro Bold'), local('MyriadPro-Bold'),
		url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-Bold.woff') format('woff'),
		url('../fonts/MyriadPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-Medium.eot');
	src: local('Avenir Next Cyr Medium'), local('AvenirNextCyr-Medium'),
		url('../fonts/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNextCyr-Medium.woff') format('woff'),
		url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* HEADER */
.header {
    &__inner {
        max-width: 1170px;
        margin: 0 auto;
    }
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__fieldset {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 0;
    }
    &__fieldset-city {
        width: 280px;
    }
    &__wrap-city {
        padding-left: 20px;
    }

    &__fieldset-date {
        width: 380px; 
    }
    &__fieldset-from {
        margin-right: 53px;
    }

    &__fieldset-number {
        width: 300px;
        justify-content: space-between;
    }

    &__wrap-number {
        margin-left: 23px;
    }

    &__wrap-adult {
        margin-left: 5px;
    }

    &__wrap-children {
        margin-left: 5px;
    }

    &__fieldset-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__label-city {
        font-family: 'Myriad Pro';
        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #232323;
        margin-bottom: 8px;
    }
    &__input-city {
        border: none;
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        font-style: italic;
        color: #6b6b6b;
        background: url(../img/City.png) no-repeat center left 2px;
        width: 210px;
        padding-left: 20px;
    }
    &__label-from {
        font-family: 'Proxima Nova Rg';
        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #232323;
        text-transform: capitalize;
        text-align: left;
        margin-bottom: 6px;
    }
    &__input-from {
        border: none;
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        font-style: italic;
        color: #383838;
        text-align: center;
        width: 140px;
        background: url(../img/Calendar.png) no-repeat center left 2px;
        padding-left: 20px;
    }
    &__label-end {
        font-family: 'Proxima Nova Rg';
        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #232323;
        text-transform: capitalize;
        text-align: left;
        margin-bottom: 6px;
    }
    &__input-end {
        border: none;
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        font-style: italic;
        color: #383838;
        text-align: center;
        width: 140px;
        background: url(../img/Arrow.png) no-repeat center right 2px;
        padding-right: 20px;
    }

    &__label-number {
        font-family: 'Myriad Pro';
        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #232323;
        text-transform: capitalize;
        margin-bottom: 6px;
    }
    &__input-number {
        width: 30px;
        height: 27px;
        border: 1px solid #8b9198;
        font-family: 'Avenir Next Cyr';
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0.025em;
        color: #8b9198;
    }
    &__controls {

    }
    &__button-up {}
    &__button-down {}
    &__label-adult {
        font-family: 'Proxima Nova Rg';
        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #232323;
        text-transform: capitalize;
        margin-bottom: 6px;
    }
    &__input-adult {
        width: 30px;
        height: 27px;
        border: 1px solid #8b9198;
        font-family: 'Avenir Next Cyr';
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0.025em;
        color: #8b9198;
    }
    &__label-children {
        font-family: 'Proxima Nova Rg';
        font-size: 12px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #232323;
        text-transform: capitalize;
        margin-bottom: 6px;
    }
    &__input-children {
        width: 30px;
        height: 27px;
        border: 1px solid #8b9198;
        font-family: 'Avenir Next Cyr';
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0.025em;
        color: #8b9198;
    }
    &__plus-link {
        display: block;
        width: 35px;
        height: 35px;
        margin-right: 5px;
    }
    &__plus-img {}
    &__btn {
        width: 175px;
        height: 63px;
        background-color: #ee9b17;
        box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.09);
        border-radius: 2px;
        border: none;
        font-family: 'Proxima Nova Rg';
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-shadow: 0px 0px 7px rgba(0,0,0,0.05);
        color: #fff;
        margin: 14px;
    }
}
